.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.smurfs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.smurf {
  background-color: rgb(223, 223, 223);
  margin: 3rem;
  padding: 1rem;
  width: 200px;
}

button {
  background-color: rgb(76, 107, 175);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2rem;
  margin-left: 1rem;
}

.delete-button {
  padding: 5px 10px;
  font-size: 0.8rem;
  margin: 0;
}

.btn-container {
  text-align: right;
}

input[type=text], input[type=number] {
  padding: 12px 20px;
  margin: 0 0.5rem;
  box-sizing: border-box;
  width: 12rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance:textfield;
  width: 6rem;
}

.smurfs-form .height {
  width: 6rem;
}